<a href="https://colab.research.google.com/github/LorenaFranciele/CursoDeExtensaoPythonPandas-2023-1/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de manipulação de dados usando Python Pandas**

Autora: Lorena Franciele

Data: 6 de Fevereiro de 2023

In [ ]:
# Para instalar use esse comando!
# !pip install pandas

In [1]:
#Importando bibliteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
# Exibe as primeiras 5 linhas 
display(combustiveis_df)

In [ ]:
# Quero na verdade, exibir as primeiras 15 linhas
display(combustiveis_df.head(15))

In [ ]:
# Comandos Datframe.shape e Dataframe.describe()
print(combustiveis_df.shape)
# Mostra o número de linhas e colunas  (linhas, colunas)
# Só as linhas 
print(combustiveis_df.shape[0])
# Só as colunas
print(combustiveis_df.shape[1])

In [20]:
# Quais são as colunas e que tipo de dados elas possuem 
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [ ]:
# describe() mostra as estatísticas "mais básicas" que precisamos 
print(combustiveis_df.describe())

In [ ]:
# Filtrar apenas por uma coluna
display(combustiveis_df['Revenda'])

In [ ]:
# Aqui criamos um novo Data Frame apenas com as colunas que desejamos 
ca_df = combustiveis_df[['Revenda','Municipio','Produto','Valor de Venda']]
display(ca_df)

In [ ]:
# Exibe a 4a linha
display(ca_df.loc[3])

In [ ]:
# Exibir da 10a linha até a 20a linha
display(ca_df.loc[9:19])

In [ ]:
# Criar uma dataframe gas_df contendo apenas as 4 colunas (Revenda, Municipio ,Produto, Valor de Venda)
# Somente com combustível sendo GASOLINA e exibir na tela
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

display(gas_df['Valor de Venda'].max())

In [ ]:
#Exibirqual é o posto e município da gasolina mais cara do país
display(gas_df[['Revenda', 'Municipio', 'Valor de Venda']].max())